
    
 
  .send_message input[type="text"], textarea {
    width: 72%;
    padding: 10px;
    margin-bottom: 10px;
    }
    
    .contact_information{
    float:left;
    width:47%;
    }
    
    .color_heading{
    color: rgb(37,112,160);
    }
    
    .color_text{
    color:white;
    }
    
        
    .btnsubmit {
        background-color: rgb(37,112,160);
        color: white;
        padding: 10px;
        display: block;
        border: none;
    }
  
    