.weWork {
    background-color: $mainGreen;
    margin-top: 30px;
    margin-right: 40px;
    img {
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    h3 {
      text-align: center;
      font-family: 'Montserrat Bold', sans-serif;
      font-size: 2rem;
      color: white;
    }
    p {
      font-family: 'Montserrat', sans-serif;
      padding-left: 12px;
      padding-right: 12px;
      padding-bottom: 15px;
      color: white;
    }
  }
  .card-body {
    background-color: $mainGreen;
    color: white;
  }
  .card-col {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
